/*CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
@font-face {
  font-family: 'AmericanTypewriter';
  src: url('AmericanTypewriter.eot');
  src: url('css/AmericanTypewriter.eot?#iefix') format('embedded-opentype'),
    url('css/AmericanTypewriter.woff') format('woff'),
    url('css/AmericanTypewriter.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AmericanTypewriterLight';
  src: url('AmericanTypewriter-Light.eot');
  src: url('AmericanTypewriter-Light.eot?#iefix') format('embedded-opentype'),
    url('AmericanTypewriter-Light.woff') format('woff'),
    url('AmericanTypewriter-Light.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
}

/*NAV*/
nav {
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 9999;
  border-bottom: 1px solid #DDD;
  font-family: "AmericanTypewriterLight", Georgia, serif;
}
.content {
  width: 90%;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.logo {
  height: 100px;
}
nav ul {
  float: right;
  margin-top: 1.7em;
}
nav ul li {
  display:inline-block;
  font-size: 1.5em;
  letter-spacing: 0.03em;
  margin-left: 1.8em;
}
nav ul li a {
  text-decoration: none;
  color:#545454;
  cursor: pointer;

}
/*HEADER*/
header {
  background-image: url(../images/trees.jpeg); 
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6em 0;
  text-align: center;
  font-family: "AmericanTypewriterLight", Georgia, serif;
}
header h1 {
  font-weight:300;
  font-size: 6em;
  color: #AF5009;
  text-shadow: 1px 3px #000;
  font-family: "AmericanTypewriter", Georgia, serif;
}
header p {
  font-size: 2em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: -.2em;
  padding:1em 0;
  color: #fff;
}
/*CONTENT*/
body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  color: #545454;
}
section {
  max-width: 38em;
  margin: 2em auto;
}
h2, h3 {
  font-family: "AmericanTypewriter", Georgia, serif;
  color: #AF5009;
}
h2 {
  font-size: 1.2em;
  margin: 2em 0 1em 0;
}
h3 {
  margin-top: 1.2em;
  font-size: 1.1em;
}
p, li {
  margin: .9em 0;
  font-weight: bold;
  letter-spacing: .05em;
}
section ul {
  margin-left: 1.5em;
}
/*FOOTER*/
footer {
  text-align: center;
  background-color: #911F17;
  padding: 4em 0;
  margin-top: 6em;
}
footer p {
  color: #000;
  margin: 1em 0;
}
footer a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}
footer li {
  display: inline-block;
  margin: 0 .5em;
}
/*RESPONSIVE*/
@media only screen and (max-width: 500px) {
    header h1 {
        font-size: 3em;
    }
  header {
    padding: 3em 0;
  }
  section {
    padding: 0 1em;
  }
}