/*CSS RESET*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

@font-face {
    font-family: 'AmericanTypewriter';
    src: url('AmericanTypewriter.eot');
    src: url('AmericanTypewriter.eot?#iefix') format('embedded-opentype'), url('AmericanTypewriter.woff') format('woff'), url('AmericanTypewriter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AmericanTypewriterLight';
    src: url('AmericanTypewriter-Light.eot');
    src: url('AmericanTypewriter-Light.eot?#iefix') format('embedded-opentype'), url('AmericanTypewriter-Light.woff') format('woff'), url('AmericanTypewriter-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


/*HEADER*/

header {
    background-image: url(../images/trees.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "AmericanTypewriterLight", Georgia, serif;
}

header .content {
    padding: 6em 0;
    text-align: center;
}

header p {
    font-size: 2em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: -.2em;
    padding: 1em 0;
    color: #fff;
}


/*NAV*/

nav {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 75px;
    z-index: 4;
    border-bottom: 3px solid #DDD;
    font-family: "AmericanTypewriterLight", Georgia, serif;
}

.logo {
    height: 75px;
    position: fixed;
    top: 0;
    left: 10px;
    z-index: 5;
}

nav ul {
    float: right;
    margin-right:1.8em;
    margin-top: .8em;
}

nav ul li {
    display: inline-block;
    font-size: 1.5em;
    letter-spacing: 0.03em;
    margin-left: 1.8em;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

nav ul li a:hover {
    color: #AF5009;
}

nav ul li a:active {
    color: #AF5009;
}

.toggle-nav {
    display: none;
}


/*CONTENT*/

body {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1em;
    color: #000;
}

section .content {
    max-width: 38em;
    margin: 2em auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    font-weight: 300;
    font-size: 6em;
    color: #AF5009;
    text-shadow: 1px 3px #000;
    font-family: "AmericanTypewriter", Georgia, serif;
}

h2,
h3 {
    font-family: "AmericanTypewriter", Georgia, serif;
    color: #AF5009;
}

h2 {
    font-size: 1.5em;
    margin: 2em 0 1em 0;
}

h3 {
    margin-top: 1.2em;
    font-size: 1.1em;
}

p,
li {
    margin: .9em 0;
    letter-spacing: .05em;
}

section ul {
    margin-left: 1.5em;
}

section a {
    color: #AF5009;
    text-decoration: none;
}

section img {
    margin: 0 auto;
    width: 400px;
}


/*ABOUT*/

.about {
    margin-bottom: 4em;
}


/*PROJECTS*/

.projects {
    text-align: center;
    padding: 3em 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.projects:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -1;
    background-image: url(../images/bamboo.jpeg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.projects section {
    border: 1px solid #DDD;
    background-color: #DDD;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3em;
    margin: 2em auto;
}

.projects h2 {
    font-size: 2em;
    text-shadow: 1px 1px #000;
    margin-top: 0;
}

.projects a {
    text-decoration: underline;
    font-weight: bold;
    color: #000;
}

.projects a:hover {
    text-decoration: none;
}


/*FOOTER*/

footer {
    text-align: center;
    background-color: #AF5009;
    padding: 4em 0;
}

footer p {
    color: #000;
    margin: 1em 0;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

footer li {
    display: inline-block;
    margin: 0 .5em;
}


/*RESPONSIVE*/

/*
@media only screen and (max-width:1024px) {
    nav ul {
        margin-top: 1.3em;
    }
    nav ul li {
        font-size: 1.1em;
        letter-spacing: 0.03em;
    }
}
*/

@media only screen and (max-width:700px) {
    h1 {
        font-size: 3em;
    }
    h2,
    .about h2,
    .projects h2 {
        font-size: 1.5em;
    }
    nav {
        position: relative;
        display: inline-block;
    }
    nav ul.active {
        display: none;
    }
    nav ul {
        display: block;
        width: 100%;
        text-align: right;
        background-color: #fff;
        margin: 0;
        top: 4.8em;
        position: absolute;
    }
    nav ul li {
        display: block;
        font-size: .8em;
        letter-spacing: 0.03em;
        margin-left: 1.8em;
        border-bottom: 1px solid #AF5009;
        border-bottom: 1px solid #AF5009;
        margin: 0;
        padding: 1em;
        font-size: 1em;
    }
    .toggle-nav {
        padding: 20px;
        right: 0;
        display: inline-block;
        color: #000;
        font-size: 30px;
        text-decoration: none;
        vertical-align: middle;
        position: absolute;
        z-index: 7;
    }
 
    .toggle-nav:hover, .toggle-nav.active {
        text-decoration:none;
    }
    .logo {
        position: absolute;
    }
    header .content {
        padding: 3em 0;
    }
    section,
    .projects .content {
        padding: 0 1em;
    }
    .projects img {
        width: 300px;
    }
}

@media only screen and (max-width:400px) {
    .projects img {
        width: 200px;
    }
}